body{
    font-family: sans-serif;
    cursor: url('img/curseur@2x.png') 25 25, auto;
    margin-top: 0;

}

@font-face {
  font-family: "Avenir";
  src: url(webfonts/Avenir\ Regular.ttf);
}

@font-face {
  font-family: "Quicksand";
  src: url(webfonts/Quicksand-Light.ttf);
}

img{
    max-width: 100%;
    height:auto;
}

.header{
    background: white;
    display: grid;
    position: sticky;
    z-index: 999;
    top: 0;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
}

.spin {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: 9px;
  margin-left: 10px;
}
/* tournitourni */
.spin {
display: block;
position: fixed;
width: 50px;
height: 50px;
left:0.5%;
top: 0.5%;

-webkit-animation: spin 10s linear infinite;
-moz-animation: spin 10s linear infinite;
animation: spin 10s linear infinite;
}

@-webkit-keyframes spin{
100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
  }
@keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
  }

h1 {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
  margin-left: 80px;
}

.header-title{
    background: white;
}

.header-nav{
  background: white;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50px;
  margin-left: 5px;
  transition: 0.1s ease-out;
}
.nav{
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

.nav a{
  font-family: "Avenir";
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50px;
  color: black;
}

.marquee .block{
  display:block;
}
.marquee{
  font-family: "Avenir";
  margin:0;
  overflow:hidden;
  display:block;
  color: white;
  background-color: black;

}

.marquee .text{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: 15px;
  height:35px;
  line-height:35px;
}


a{
  cursor: url('img/curseur@2x.png') 25 25, auto;
}

.nav .current{
  color: white;
  background-color: black;
}

.index .grid{
    display: grid;
    max-width: 1280px;
    margin: 0 auto; 
    gap: 20px;
    align-items: center;
    justify-items: center;
}

@media (min-width: 640px){
  .index .grid {
    grid-template-columns: repeat(2, minmax(320px,1fr));
  }
}

@media (min-width: 1280px){
  .index .grid {
    grid-template-columns: repeat(3, minmax(320px,1fr));
  }
}

.accroche{
  display: flex;
  align-self: center;
  justify-self: center;
  text-align: center;
  grid-column: 1/-1;
}

.accroche h2{
  font-family: "Avenir";
  font-size: 70px;
}

.item{
    display:grid;
    width:fit-content;
    height: fit-content;
    background: #000;
    text-decoration: none;
  
  }
  .item>*{
    grid-column: 1;
    grid-row:1;
    justify-self:center;
    align-self:center;
    color:#fff;
    transition:1s;
  }
  .item p{
    font-size: 23px;
    font-family: "Avenir";
    opacity:0;
  }
  .item:hover img{
    opacity:0;
  }
  .item:hover p{
    opacity:1;
  }

.about{
  display: grid;
  max-width: 600px;
  margin: auto;
  min-height: calc(100vh - 320px);
}
.about a{
  text-decoration:underline;
}
.extern.extern{
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 12px;
  border-radius: 50px;
  margin: 15px 0;
  display: inline-block;
  text-decoration:none ;
}

.image-container {
  justify-self: center;
  align-self: center;
}

/* Image de base */
.vibrate-image {
  width: 250px; /* Ajustez la taille de l'image selon vos besoins */
  transition: transform 0.2s ease-in-out;
}

/* Animation de vibration */
@keyframes vibration {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(10px); }
}

/* Appliquer l'animation lors du survol */
.vibrate-image:hover {
  animation: vibration 0.5s linear infinite;
}


.footer{
  font-size: 10px;
  margin-top: auto;
  text-align: center;
}

.footer a{
  text-decoration:underline;
}

a{
  color: black;
  font-weight: normal;
}

.grande-image{
  grid-column: 1/-1;
}  

.arrow {
    
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 20px;
  color: black;
  z-index: 1000;
}

@media (min-width:640px){
  .arrow {
      font-size: 30px;
  }
}

.left-arrow {
  left: 5%;
}

.right-arrow {
  right: 5%;
}

.Projets{
  display: grid;
  padding: 15%;
  max-width: 1000px;
  margin: auto;
  gap: 30px;
  justify-content: center;
}


@media (min-width:640px){
  .Projets{
      display: grid;
      padding: 2%;
      max-width: 800px;
      margin: auto;
  }
  .argumentaire{
      grid-column: 1/3;
  }
}

@media (min-width:1040px){
  .Projets{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 700px;
      margin: auto;
      justify-content: center;
      gap: 25px;
  }
  h2{
      font-size: 27px;
  }
  
  h3{
      font-size: 16px;
  }
}

@media (min-width:640px){
  .Projets{
      display: grid;
      padding: 2%;
      max-width: 800px;
      margin: auto;
  }
  .argumentaire{
      grid-column: 1/3;
  }
}

@media (min-width:1040px){
  .Projets{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 700px;
      margin: auto;
      justify-content: center;
      gap: 25px;
  }
  h2{
      font-size: 25px;
  }
  
  h3{
      font-size: 16px;
  }
}
.tiitle {
  font-family: "Avenir";
  font-size: 30px;
}
